body {
  background-color: #6cceff3b;
}

.card {
      background-color: rgba(0, 255, 255, 0.15);
      border-radius: 1rem;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card:hover {
      transform: translateY(-8px) scale(1.02);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    }

    .card img {
      height: 160px;
      object-fit: cover;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }

.icon-github {
  vertical-align: middle;
  /* para que se vea blanco en fondo oscuro: */
  filter: brightness(0) invert(1);
}

#bienvenido {
  color: rgb(5, 41, 170);
  font-weight: bold;
}

#proyectos-container {
  color: rgb(5, 60, 5);
  border: solid green;
  background-color: rgba(0, 128, 0, 0.298);
  border-radius: 1rem;
  width: 100%;
  padding: 1.5rem 1rem;
}

#titulo {
  color: rgb(103, 5, 195);
  font-weight: bold;
}

#descripcion {
  color: rgba(169, 7, 115, 0.78);
}